<%- include header %>

    <%- include devconf_header%>

    <div id="dspcontent">
        <h2 name="dsp_h2_content" style="color: #0f0f0f">主板配置</h2>
        <div class="cbi-section">
            <h3 style="color: #0f0f0f">基本配置</h3>
            <div class="table" width="100%">
                <div class="tr">
                    <div class="td left" width="%33">频率</div>
                    <div class="td left">
                        <i class="fa fa-cog"></i>
                        <input type="text" placeholder="" name="RfFreq" id="id_baseset_radar_rffreq"/>
                        <a style="color: darkgray; text-decoration: none"> &nbsp 该参数不要随意改变 </a>
                    </div>
                </div>
                <div class="tr">
                    <div class="td left" width="%33">距离库</div>
                    <div class="td left">
                        <i class="fa fa-cog"></i>
                        <input type="text" placeholder="" name="Rangebin" id="id_baseset_radar_rangebin"/>
                        <a style="color: darkgray; text-decoration: none"> &nbsp 500 <= Rangebin <= 1500 </a>
                    </div>
                </div>
                <div class="tr">
                    <div class="td left" width="%33">PRT数</div>
                    <div class="td left">
                        <i class="fa fa-cog"></i>
                        <input type="text" placeholder="" name="PrtNum" id="id_baseset_radar_prtnum"/>
                        <a style="color: darkgray; text-decoration: none"> &nbsp Prt: 32 | 64 | 128 | 256 </a>
                    </div>
                </div>
                <div class="tr">
                    <div class="td left" width="%33">接收通道</div>
                    <div class="td left">
                        <i class="fa fa-cog"></i>
                        <input type="text" placeholder="" name="RChanel" id="id_baseset_radar_rchannel"/>
                        <a style="color: darkgray; text-decoration: none"> &nbsp Recv Channel: 8 | 16 | 64 | 128 </a>
                    </div>
                </div>
                <div class="tr">
                    <div class="td left" width="%33">方位数</div>
                    <div class="td left">
                        <i class="fa fa-cog"></i>
                        <input type="text" placeholder="" name="Azimuth" id="id_baseset_radar_azimuth"/>
                        <a style="color: darkgray; text-decoration: none"> &nbsp Azimuth: 30 | 60 | 120 | 240 </a>
                    </div>
                </div>
                <br/>
                <div class="apply" style="text-align: right">
                    <a href="/devconfig" target="_self" id="id_mainboard_baseset_applay"><button>应用</button></a>
                </div>
            </div>
        </div>

        <div class="cbi-section">
            <h3 style="color: #0f0f0f">计算参数</h3>
            <div class="table" width="100%">
                <div class="tr">
                    <div class="td left" width="%33">强度判决门限</div>
                    <div class="td left">
                        <i class="fa fa-cog"></i>
                        <input type="text" placeholder="3.0" id="id_countarg_ksnrzdb" name="KSNRZdB" />
                    </div>
                </div>
                <div class="tr">
                    <div class="td left" width="%33">速度判决门限</div>
                    <div class="td left">
                        <i class="fa fa-cog"></i>
                        <input type="text" placeholder="3.0" id="id_countarg_ksnrvdb" name="KSNRVdB" />
                    </div>
                </div>
                <div class="tr">
                    <div class="td left" width="%33">窗函数</div>
                    <div class="td left">
                        <i class="fa fa-cog"></i>
                        <input type="text" placeholder="1" id="id_countarg_windows" name="Windows" />
                        <a style="color: darkgray; text-decoration: none">&nbsp 1--Rect 2--hanning 3--hamming </a>
                    </div>
                </div>
                <div class="tr">
                    <div class="td left" width="%33">雷达常数</div>
                    <div class="td left">
                        <i class="fa fa-cog"></i>
                        <input type="text" placeholder="1.0" id="id_countarg_radarconst" name="RadarConst" />
                    </div>
                </div>
                <br/>
                <div class="apply" style="text-align: right">
                    <a href="/devconfig" target="_self" id="id_mainboard_countarg_applay"><button>应用</button></a>
                </div>
            </div>
        </div>

        <div class="cbi-section">
            <h3 style="color: #0f0f0f">运行参数</h3>
            <div class="table" width="100%">
                <form action="/devconfig/runningpost" method="post" role="form" name="running_form" onsubmit="running_check()">
                    <div class="tr">
                        <div class="td left" width="%33">缓存</div>
                        <div class="td left">
                            <i class="fa fa-cog"></i>
                            <input type="text" placeholder="" id="id_runingarg_cache" name="cache" />
                        </div>
                    </div>
                    <div class="tr">
                        <div class="td left" width="%33">线程</div>
                        <div class="td left">
                            <i class="fa fa-cog"></i>
                            <input type="text" placeholder="" id="id_runingarg_threadpool" name="threadpool" />
                        </div>
                    </div>
                    <div class="tr">
                        <div class="td left" width="%33">杂波消除</div>
                        <div class="td left">
                            <i class="fa fa-cog"></i>
                            <input type="text" placeholder="" id="id_runingarg_clutter_filter" name="clutter_filter" />
                        </div>
                    </div>
                    <br/>
                    <div class="apply" style="text-align: right">
                        <a target="_self" id="id_mainboard_runarg_applay_and_save"><button>应用</button></a>
                    </div>
                </form>
            </div>
        </div>

    </div>

    <script>

        var data = <%-JSON.stringify(data)%>;

        $('#id_baseset_radar_rffreq').attr('placeholder', data.radargsp_radar_rffreq);
        $('#id_baseset_radar_rangebin').attr('placeholder', data.radargsp_radar_rangebin);
        $('#id_baseset_radar_prtnum').attr('placeholder', data.radargsp_radar_prtnum);
        $('#id_baseset_radar_rchannel').attr('placeholder', data.radargsp_radar_rchanel);
        $('#id_baseset_radar_azimuth').attr('placeholder', data.radargsp_radar_azimuth);

        $('#id_countarg_ksnrzdb').attr('placeholder', data.radargsp_count_ksnrzdb);
        $('#id_countarg_ksnrvdb').attr('placeholder', data.radargsp_count_ksnrvdb);
        $('#id_countarg_windows').attr('placeholder', data.radargsp_count_windows);
        $('#id_countarg_radarconst').attr('placeholder', data.radargsp_count_radarconst);

        $('#id_runingarg_cache').attr('placeholder', data.radargsp_running_cache);
        $('#id_runingarg_threadpool').attr('placeholder', data.radargsp_running_threadpool);
        $('#id_runingarg_clutter_filter').attr('placeholder', data.radargsp_running_clutter_filter);

        console.log(data.radargsp_radar_rffreq);

        $('#id_mainboard_baseset_applay').on('click', function () {

        });

        $('#id_mainboard_baseset_applay_and_save').on('click', function () {

        });

        function running_check() {
            console.log('hello running check');
        }

    </script>

<%- include footer %>
