<%- include header %>

    <div id="maincontent">
        <h2 name="content" style="color: #0f0f0f">系统状态</h2>
        <div class="cbi-section">
            <h3 style="color: #0f0f0f">系统</h3>
            <div class="table" width="100%">
                <div class="tr">
                    <div class="td left" width="%33">主机名</div>
                    <div class="td left" id="id_hostname"></div>
                </div>
                <div class="tr">
                    <div class="td left" width="%33">主机架构</div>
                    <div class="td left" id="id_mainboard_cpu_arch"></div>
                </div>
                <div class="tr">
                    <div class="td left" width="%33">内核版本</div>
                    <div class="td left" id="id_mainboard_system_kernel"></div>
                </div>
                <div class="tr">
                    <div class="td left" width="%33">固件版本</div>
                    <div class="td left" id="id_firmware"></div>
                </div>
                <div class="tr">
                    <div class="td left" width="%33">本地时间</div>
                    <div class="td left" id="id_curTime"></div>
                </div>

                <div class="tr">
                    <div class="td left" width="%33">运行时间</div>
                    <div class="td left" id="id_mainboard_system_uptime"></div>
                </div>

            </div>
        </div>

        <div class="cbi-section">
            <h3 style="color: #0f0f0f">CPU</h3>
            <div class="table" width="100%">
                <div class="tr">
                    <div class="td left" width="%33">版本</div>
                    <div class="td left" id="id_mainboard_cpu_info"></div>
                </div>

                <div class="tr">
                    <div class="td left" width="%33">线程数</div>
                    <div class="td left" id="id_mainboard_cpu_threadx"></div>
                </div>

                <div class="tr">
                    <div class="td left" width="%33">平均负载</div>
                    <div class="td left" id="id_average_load"></div>
                </div>
            </div>
        </div>

        <div class="cbi-section">
            <h3 style="color: #0f0f0f">内存</h3>
            <div class="table" width="100%">
                <div class="tr">
                    <div class="td left" width="%33">总共</div>
                    <div class="td left" id="id_mem_total">
                        <div style="width:100%; max-width:200px; position:relative; border:1px solid #999999">
                            <div style="background-color:dodgerblue; width:100%; height:15px">
                                <div style="position:absolute; left:0; top:0; text-align:center; width:100%; color:#000000">
                                    <small id="id_mainboard_memory_total"></small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tr">
                    <div class="td left" width="%33">已用</div>
                    <div class="td left">
                        <div style="width:100%; max-width:200px; position:relative; border:1px solid #999999">
                            <div id="id_mem_used" style="background-color:red; width:10%; height:15px">
                                <div style="position:absolute; left:0; top:0; text-align:center; width:100%; color:#000000">
                                    <small id="id_mainboard_memory_used"></small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tr">
                    <div class="td left" width="%33">空闲</div>
                    <div class="td left">
                        <div style="width:100%; max-width:200px; position:relative; border:1px solid #999999">
                            <div id="id_mem_free" style="background-color:limegreen; width:90%; height:15px">
                                <div style="position:absolute; left:0; top:0; text-align:center; width:100%; color:#000000">
                                    <small id="id_mainboard_memory_free"></small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tr">
                    <div class="td left" width="%33">缓存</div>
                    <div class="td left">
                        <div style="width:100%; max-width:200px; position:relative; border:1px solid #999999">
                            <div id="id_mem_cache" style="background-color:yellow; width:90%; height:15px">
                                <div style="position:absolute; left:0; top:0; text-align:center; width:100%; color:#000000">
                                    <small id="id_mainboard_memory_cache"></small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="cbi-section">
            <h3 style="color: #0f0f0f">接口</h3>
            <div class="table" width="100%">
                <div class="tr">
                    <div class="td left" width="%33">接口数</div>
                    <div class="td left">ETWS</div>
                </div>
                <div class="tr">
                    <div class="td left" width="%33">连接</div>
                    <div class="td left">X86_64</div>
                </div>
                <div class="tr">
                    <div class="td left" width="%33">断开</div>
                    <div class="td left">4.9.111</div>
                </div>
            </div>
        </div>

        <script>

            var curTime="<%=curTime%>";
            var data = <%-JSON.stringify(data)%>;
            var percent = 0;

            $("#id_curTime").html(curTime);

            $("#id_hostname").html(data.hostname);
            $("#id_firmware").html(data.firmware);
            $("#id_mainboard_cpu_arch").html(data.mainboard_cpu_arch);
            $("#id_mainboard_cpu_info").html(data.mainboard_cpu_info);
            $("#id_mainboard_cpu_threadx").html(data.mainboard_cpu_threadx);
            $("#id_mainboard_system_kernel").html(data.mainboard_system_kernel);
            $("#id_mainboard_system_uptime").html(data.mainboard_system_uptime);
            $("#id_mainboard_memory_total").html(data.mainboard_memory_total + 'k');
            $("#id_mainboard_memory_used").html(data.mainboard_memory_used + 'k');
            $("#id_mainboard_memory_free").html(data.mainboard_memory_free + 'k');
            $("#id_mainboard_memory_cache").html(data.mainboard_memory_cache + 'k');

            $("#id_average_load").html(data.average_load);

            console.log("ave_load:" + data.average_load);

            percent = data.mainboard_memory_used/data.mainboard_memory_total;
            var width=percent*100+"%";
            $("#id_mem_used").width(width);

            percent = data.mainboard_memory_free/data.mainboard_memory_total;
            width=percent*100+"%";
            $("#id_mem_free").width(width);

            percent = data.mainboard_memory_cache/data.mainboard_memory_total;
            width=percent*100+"%";
            $("#id_mem_cache").width(width);


        </script>

    </div>

<%- include footer %>
