<%- include header %>

    <%- include dsp_header%>

    <div id="dspcontent">
        <h2 name="dsp_h2_content" style="color: #0f0f0f">接口板状态信息</h2>
        <div class="cbi-section">
            <h3 style="color: #0f0f0f">基本信息</h3>
            <div class="table" width="100%">
                <div class="tr">
                    <div class="td left" width="%33">固件版本</div>
                    <div class="td left">v1.0.1</div>
                </div>
                <div class="tr">
                    <div class="td left" width="%33">运行状态</div>
                    <div class="td left">OK</div>
                </div>
            </div>
        </div>

        <div class="cbi-section">
            <h3 style="color: #0f0f0f">硬件信息</h3>
            <div class="table" width="100%">
                <div class="tr">
                    <div class="td left" width="%33">工作电压</div>
                    <div class="td left">ETWS-JK-2019</div>
                </div>
                <div class="tr">
                    <div class="td left" width="%33">工作电流</div>
                    <div class="td left">v1.0.1</div>
                </div>
                <div class="tr">
                    <div class="td left" width="%33">工作温度</div>
                    <div class="td left">OK</div>
                </div>
            </div>
        </div>

        <div class="cbi-section">
            <h3 style="color: #0f0f0f">组件信息</h3>
            <div class="table" width="100%">
                <div class="tr">
                    <div class="td left" width="%33">工作电压</div>
                    <div class="td left">ETWS-JK-2019</div>
                </div>
                <div class="tr">
                    <div class="td left" width="%33">工作电流</div>
                    <div class="td left">v1.0.1</div>
                </div>
                <div class="tr">
                    <div class="td left" width="%33">工作温度</div>
                    <div class="td left">OK</div>
                </div>
            </div>
        </div>

        <div class="cbi-section">
            <h3 style="color: #0f0f0f">运行信息</h3>
            <div class="table" width="100%">
                <div class="tr">
                    <div class="td left" width="%33">缓存数据</div>
                    <div class="td left">ETWS-JK-2019</div>
                </div>
                <div class="tr">
                    <div class="td left" width="%33">计算速度</div>
                    <div class="td left">v1.0.1</div>
                </div>
                <div class="tr">
                    <div class="td left" width="%33">读取速度</div>
                    <div class="td left">OK</div>
                </div>
            </div>
        </div>

    </div>

<%- include footer %>